/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --card-background: #FF0070;
}

.theme-dark .header__rec {
  display: block;
}