/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --section-title-color: #353430;
  --card-title-color: #353430;
  --card-background: #FF8DCB;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --background-color: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --section-title-color: #353430;
    --card-title-color: #353430;
    --card-background: #FF8DCB;
  }
  
  .header__rec {
    display: none;
  }
}