/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --button-focus-color: #353430;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --card-background: #ff8dcb;
  --decorated-element-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --button-focus-color: #353430;
    --section-title-color: #353430;
    --card-title-color: #353430;
    --card-background: #ff8dcb;
    --decorated-element-color: #353430;
  }
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-light .header__theme-menu-button_active {
  color: var(--accent-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--decorated-element-color);
}