/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--main-font), 'Courier New', monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  block-size: 100vb;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px;
  background: none;
  color: var(--accent-color);
  text-transform: lowercase;
  cursor: pointer;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--button-focus-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 10px;
  color: var(--accent-color);
  font-size: inherit;
  line-height: 1.39;
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
}

.header__text {
  justify-self: end;
  align-self: center;
  background-color: var(--card-background);
  color: var(--card-title-color);
  font-weight: 700;
  max-inline-size: 364px;
}

.title-decor {
  background-color: var(--card-background);
  color: var(--card-title-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: var(--gap);
}

.section__title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: 700;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: inherit;
  font-weight: 700;
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__text-link:hover {
  border-block-end: 1px solid currentColor;
}

.card__text-link:focus {
  outline: none;
}

.card__text-link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  block-size: 100vb;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
}

/* Tablet */
@media (width >= 768px) {
  .header {
    padding: 20px;
    min-block-size: 1024px;
  }

  .header__rec {
    inset-inline-end: 38px;
    inset-block-start: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__title {
    grid-column: 1;
  }

  .card-list {
    grid-column: 2;
  }

  .section_what .card-list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }
}

/* Desktop */
@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-inline-start: 0;
  }

  .header__text {
    max-inline-size: 491px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section_why .card-list,
  .section_how .card-list {
    grid-column: 2;
  }

  .section_what .card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-block-size: 768px;
  }
}