/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

:root {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --card-background: #FF0070;
  --section-title-color: #FF0070;
  --decorated-element-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-focus-color: #FF0070;
  --card-title-color: #000028;
  --background-image: url(../images/cover-image-dark.png);

  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
  
  --gap: 20px;
  --section-gap: 50px;
}

@media (width >= 768px) {
  :root {
    --section-gap: 80px;
  }
}