/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-focus-color: #ff0070;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --card-background: #ff0070;
  --decorated-element-color: #ff0070;
  
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
  
  --gap: 20px;
  --section-gap: 80px;
  --block-gap: 50px;
}

@media (width >= 768px) {
  :root {
    --section-gap: 120px;
    --block-gap: 80px;
  }
}